{% extends "base.html" %}
{% block content %}
		<div class="post">
			<h1 class="title">Welcome to NoPix</h1>
			<p class="byline"><small>Your own pix sharing service</small></p>
			<div class="entry">
				<p><strong>NoPix</strong> is a free open source application to share you pictures. It works like <a href="http://imageshack.us" target="_blank">ImageShack</a>. So you can use this app for your blog, forum,... You have to sign if you want to test the history feature. </p>
				<p>Do not use directly this site but install you own version. You can download the sources <a href="source-v2.zip">here</a> (2010-01-11). Set the config.py to make this site totally private or chose the picture size and more for the thumbnails.</p>
			</div>
		</div>
{% block upload %}{% endblock %}
{% endblock %}
