{% extends "index_base.html" %}
{% block upload %}
		<div class="post">
			<h1 class="title">Upload your picture</h1>
			<p class="byline"><small>Max size 1 MB [jpeg, png, gif (including animated gif), bmp, tiff and ico]</small></p>
			<div class="entry">
				<br />
				<form action="/" method="post" enctype="multipart/form-data">
					<table>
						<tr>
							<td></td>
							<td><small>Select an image from<input type="radio" name="method" id="radiofile" checked="checked"><label for="radiofile">a File</label><input type="radio" name="method" id="radiourl" onChange="javascript:window.location.href='?method=url'"><label for="radiourl">an URL</label></small></td>
						</tr>
		    			<tr>
		    				<td align="right"><label>File: </label></td>
		    				<td><input name="file" type="file" size="50"></td>
		    			</tr>
		    			<tr>
		    				<td align="right"><label>Label: </label></td>
		    				<td><input name="label" type="text" size="50"></td>
		    			</tr>
		    			<tr>
		    				<td></td>
		    				<td><input type="submit"></td>
		    			</tr>
		    		</table>
				</form>
			</div>
		</div>
{% endblock %}