{% extends 'common/templates/base_single.html' %}
{% block title %}
  Quên mật khẩu?
{% endblock %}
{% load nonce format %}

{% block content %}
  {% include 'form_error.html' %}
  <h1 style="padding-left: 20px;">Bạn quên mật khẩu?</h1>
  <form action="" method="post" id="lostpass">
    <input type="hidden" name="login_forgot" />
    {{None|noncefield:"login_forgot"}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;
    Tên đăng nhập hoặc địa chỉ email:
    <div>
      <input type="text" name="nick_or_email" id="nick_or_email" style="width: 320px; margin-left: 100px;" value="" />
      <div class="buttons" style="display: inline; padding-left: 257px;">
        <input type="submit" class="button" value="Yêu cầu mật khẩu mới" />
      </div>
    </div>
  </form>
  
  <p style="text-align: right; margin-right: 140px;">
    <a href="{% url_for DOMAIN request %}/login">Quay lại trang đăng nhập</a>
  </p>
  <p style="text-align: right; margin-right: 140px;">
    hoặc <a href="{% url_for DOMAIN request %}/">trở về trang chủ</a>
  </p>
{% endblock %}
