{% extends 'common/templates/base_single.html' %}
{% load format %}
{% block title %}Đăng nhập{% endblock %}

{% block content %}
  {% include 'form_error.html' %}
  <form id="loginform" action="/login" method="post">
    {% if redirect_to %}
      <input type="hidden" name="redirect_to" value="{{redirect_to}}" />
    {% endif %}
  
    <div>
      <label for="field-log"><strong>Tên đăng nhập:</strong></label>
      <input id="field-log" 
             name="log" 
             type="text" 
             tabindex="1" 
             size="24"
             value="{{user_login}}" />
    </div>
  
    <div>
      <label for="field-pwd"><strong>Mật khẩu:</strong></label>
      <input id="field-pwd" 
             name="pwd" 
             type="password" 
             tabindex="2" 
             size="24"
             value="" />
    </div>
  
    <div class="radio">
      <input type="checkbox" 
             id="field-rememberme" 
             name="rememberme" 
             tabindex="3" 
             value="1" 
             {% if rememberme %}
               checked="checked"
             {% endif %}/>
           <label for="field-rememberme"> Tự động đăng nhập</label>
    </div>
  
    <div class="buttons" style="float: right; width: 275px;">
      <input type="submit" tabindex="4"  class="button" style="margin-left: 27px;" value=" Đăng nhập "/>
      <br/>
      hoặc <a href="{% url_for DOMAIN request %}">Trở về trang chủ</a>
    </div>
  </form>
  <br>
{% endblock %}

