{% include 'common/templates/form_error.html' %}

<form id="signup" action="" method="post">
  <div class="highlight">
    <label for="nick">
      <strong>Tên đăng nhập</strong>
    </label>
    <input type="text" name="nick" id="nick" maxlength="24" class="text" value="{{nick}}"/>
    
    <p class="help">
    </p>
  </div>

  <div>
    <label for="password"><strong>Mật khẩu</strong></label>
    <input type="password" name="password" id="password" class="text" maxlength="50"/>
  </div>

  <div>
    <label for="email"><strong>Địa chỉ email</strong></label>
    <input type="text" name="email" id="email" class="text" value="{{email}}" maxlength="70"/>
    {% if EMAIL_LIMIT_DOMAIN %}
      <p class='help'>Địa chỉ phải trong danh sách sau: <strong>{{EMAIL_LIMIT_DOMAIN}}</strong></p>
    {% endif %}
  </div>

  <div class="buttons" style="float: right; width: 245px;">
    <input type="hidden" name="redirect_to" value="{{redirect_to}}" />
    <input type="submit" value=" Đăng ký " class="button" style="margin-left: 45px;"/> <br>
    hoặc <a href="http://{{DOMAIN}}" title="Trở lại trang chủ"><span>Trở lại trang chủ</span></a>
  </div>
  <br>
  <br>
</form> 
