<!--<div id="welcome">-->
<!--    <ul class="steps"> -->
<!--      <li{% ifequal page "photo" %} class="current"{% else %}{% if welcome_photo %} class="done"{% endif %}{% endifequal %} id="step-1">-->
<!--        <a href="/welcome/1">Avatar</a>-->
<!--      </li> -->
<!--      <li{% ifequal page "mobile" %} class="current"{% else %}{% if welcome_mobile %} class="done"{% endif %}{% endifequal %} id="step-2">-->
<!--        <a href="/welcome/2">Message</a>-->
<!--      </li> -->
<!--      <li{% ifequal page "contacts" %} class="current"{% else %}{% if welcome_contacts %} class="done"{% endif %}{% endifequal %} id="step-3">-->
<!--        <a href="/welcome/3">Bạn bè</a>-->
<!--      </li> -->
<!--    </ul>-->
<!--</div>-->
<div id="welcome"> 
  <h1>&#8250; Thiết lập tài khoản</h1>
</div>

{% include 'common/templates/flash.html' %}
