{% load nonce avatar vcard actor format %}

{% if actor_tiles_count %}
  <ul class="float">
    {% for actor in actor_tiles %}
      <li id="tooltip_{{actor.nick}}" class="vcard{{actor.my_follower|yesno:" follower,"}}{{actor.my_contact|yesno:" contact,"}}{% cycle ' clear' '' ''%}">
        {% linked_avatar actor "u" request %}
        <h3>
          <a class="url" href="{% url_for actor request %}" rel="{{actor.rel}}">
            {{actor.display_nick}}
          </a>
        </h3>
        <p class="foot">
          {% actor_add_contact request.user view actor %}
          {% actor_remove_contact request.user view actor %}
        </p>
      </li>
      {% if actor.extra.fullname or actor.extra.homepage %}
        <script type='text/javascript'>
  		  new Tip("tooltip_{{actor.nick}}", "{% if actor.extra.full_name %}Tên đầy đủ: {{actor.extra.full_name}}<br>{% endif %}" +
                                          "{% if actor.email %}Email: {{actor.email}}<br>{% endif %}" +
  		                                    "{% if actor.extra.homepage %}Trang cá nhân: <a href='{{actor.extra.homepage}}' target='_new'>{{actor.extra.homepage}}</a><br>{% endif %}" 
                                          , {
  		    title: "{{ actor.display_nick }}",
  		    stem: 'bottomRight',
  		    hideOn: false,
  		    hideAfter: 0.25,
  		    delay: 0.5,
  		    closeButton: true,
  		    hook: {target: 'topLeft', tip: 'bottomRight'},
  		    offset: { x: 60, y: 0 }
  		  });
  		  </script>
      {% endif %}
    {% endfor %}
  </ul>
  {% if actor_tiles_more %}
    <div class="paging">
      <a href="?offset={{actor_tiles_more|escape}}">Xem thêm</a>
    </div>
  {% endif %}
{% else %}
  <p>Không có ai.</p>
{% endif %}

