{% extends 'common/templates/base.html' %}
{% load format %}

{% block body %}
  <div id="header-container">        
    {% if green_title%}
      <div class="green_title">
        <h1>» {{title}}</h1>
      </div>
    {% endif %}
    <div {% ifnotequal area 'welcome' %}id="header"{% endifnotequal %} {% if green_title%}style="padding: 0px;"{% endif %}>
      {% ifnotequal area 'welcome' %}
          <div id="helper-nav">
            <p id="login">
              {% block login %}
                {% if request.user %}
                  {% actor_link request.user request %} | 
                  <a href="{{request.user.url}}/settings">Thiết lập</a> | 
                  <a href="http://{{DOMAIN}}/logout">Đăng xuất</a>
                {% else %}                  
                  {% ifequal area "explore"%}
                    <a href="http://{{DOMAIN}}/login?redirect_to={{request.META.PATH_INFO}}">Đăng nhập</a> | 
                  {% endifequal %}          
                  {% ifequal area "tour"%}
                    <a href="http://{{DOMAIN}}/login?redirect_to={{request.META.PATH_INFO}}">Đăng nhập</a> | 
                  {% endifequal %}          
                  {% ifequal area "channel"%}
                    <a href="http://{{DOMAIN}}/login?redirect_to={{request.META.PATH_INFO}}">Đăng nhập</a> | 
                  {% endifequal %}        
                  {% ifequal area "help"%}
                    <a href="http://{{DOMAIN}}/login?redirect_to={{request.META.PATH_INFO}}">Đăng nhập</a> | 
                  {% endifequal %}
                  
                  {% ifnotequal request.path "/join" %}
                    Không có tài khoản? <a href="http://{{DOMAIN}}/join?redirect_to=/">Đăng ký</a>
                  {% else %}
                    Đã là thành viên? 
                    {% if SUBDOMAINS_ENABLED %}
                      <a href="http://{{DOMAIN}}/login?redirect_to=http://{{request.META.HTTP_HOST}}{{request.META.PATH_INFO}}">Đăng nhập</a>
                    {% else %}
                      <a href="http://{{DOMAIN}}/login?redirect_to={{request.META.PATH_INFO}}">Đăng nhập</a>
                    {% endif %}
                  {% endifnotequal %}
                    
                  {% ifequal request.path "/login" %}
                    <br><a href="{% url_for DOMAIN request %}/login/forgot" style="float: right;">Quên mật khẩu?</a>
       
                  {% endifequal %}
                    
                {% endif %}
                
                
              {% endblock %}
            </p>
          </div>
      {% endifnotequal %}
      
      {% block mainnav %}
        <ul id="main-nav" style="margin-bottom: 0;">
                <div id="site-logo">
                  <li id="top_logo">
                    <span>
                      <a href="http://{{DOMAIN}}/" style="color: #fafafa;background: #9C0;">
                        » inforlearn
                      </a>
                    </span>
                  </li>
                </div>
                <script type="text/javascript">
                  new Tip("top_logo", "<p style='text-align: left;'>Inforlearn được phát triển với mục tiêu kết nối các nguồn kiến thức và những người có cùng mối quan tâm để gặp gỡ, trao đổi và học hỏi lẫn nhau </p>", 
                      {title: "Mạng học tập Inforlearn",
                      stem: 'topLeft',
                      hideOn: false,
                      hideAfter: 0.25,
                      delay: 0.5,
                      closeButton: true,
                      hook: {target: 'bottomMiddle', tip: 'topLeft'}});
                 </script>  
          {% if request.user %} {# The logged-in navigation #}
            <li {% ifequal area "home" %}class="current"{% endifequal %} >
              <span><a href="{{request.user.url}}/overview">Nhà tôi</a></span>
            </li>
            <li {% ifequal area "people" %}class="current"{% endifequal %} >
              <span><a href="{{request.user.url}}/contacts">Bạn bè</a></span>
            </li>
            <li {% ifequal area "channel" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/channel">Nhóm</a></span>
            </li>
            <li {% ifequal area "explore"%}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/explore">Khám phá</a></span>
            </li>
          {% else %}
            <li {% ifequal area "frontpage" %}class="current"{% endifequal %} >
              
            </li>
            <li {% ifequal area "tour" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/tour">Giới thiệu</a></span>
            </li>
            <li {% ifequal area "channel" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/channel">Nhóm</a></span>
            </li>
            <li {% ifequal area "explore" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/explore">Khám phá</a></span>
            </li>
          {% endif %}
        </ul>
        {% endblock %}
    </div>
  </div>

  <div id="container" {% block containertag %}{% if style %} class="{{style}}"{% endif %}{% endblock %}>
    {% block flash %}
      {% include 'common/templates/flash.html' %}  
    {% endblock %}
    
    {% block above_container %}
    {% endblock %}
      
    {% block container %}
    {% endblock %}
  </div>
  {% if not request.mobile %}
    <script src="http://{{COOKIELESS_DOMAIN}}/js/avim.js" type="text/javascript"></script>
    {% if not LOCAL_MODE %}
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
    {% else %}
      <script type="text/javascript" src="http://{{COOKIELESS_DOMAIN}}/js/jquery.min.js"></script>
    {% endif %}
    
    <script type="text/javascript" src="http://{{COOKIELESS_DOMAIN}}/js/core.js"></script>
  
    {% block bottomscripts %}
    {% endblock %}
  {% endif %}
{% endblock %}
