{% extends 'common/templates/base.html' %}
{% load format %}

{% block body %}
  <div id="header-container">        
    {% if green_title%}
      <div class="green_title">
        <h1>» {{title}}</h1>
      </div>
    {% endif %}
    <div {% ifnotequal area 'welcome' %}id="header"{% endifnotequal %} {% if green_title%}style="padding: 0px;"{% endif %}>
      {% ifnotequal area 'welcome' %}
          <div id="helper-nav">
            <p id="login">
              {% block login %}
                {% if request.user %}
                  {% actor_link request.user request %} | 
                  <a href="{{request.user.url}}/settings">Thiết lập</a> | 
                  <a href="http://{{DOMAIN}}/logout">Đăng xuất</a>
                {% else %}
                  {% ifnotequal request.path "/join" %}
                    Không có tài khoản? <a href="/join?redirect_to={{redirect_to|urlencode}}">Đăng ký</a>
                  {% else %}
                    Đã là thành viên? 
                    {% if SUBDOMAINS_ENABLED %}
                      <a href="http://{{DOMAIN}}/login?redirect_to=http://{{request.META.HTTP_HOST}}{{request.META.PATH_INFO}}">Đăng nhập</a>
                    {% else %}
                      <a href="http://{{DOMAIN}}/login?redirect_to={{request.META.PATH_INFO}}">Đăng nhập</a>
                    {% endif %}
                  {% endifnotequal %}
                    
                  {% ifequal request.path "/login" %}
                    <br><a href="{% url_for DOMAIN request %}/login/forgot" style="float: right;">Quên mật khẩu?</a>
       
                  {% endifequal %}
                    
                {% endif %}
                
                
              {% endblock %}
            </p>
          </div>
      {% endifnotequal %}
      
      {% block mainnav %}
        <ul id="main-nav" style="margin-bottom: 0;">
                <div id="site-logo">
                <li>
                  <span>
                    <a href="/" style="color: #fafafa;background: #9C0;font-family: 'Droid Sans'">
                      <b>Inforlearn.com</b>
                    </a>
                  </span>
                </li>
             </div>  
          {% if request.user %} {# The logged-in navigation #}
            <li {% ifequal area "home" %}class="current"{% endifequal %} >
              <span><a href="{{request.user.url}}/overview">Nhà tôi</a></span>
            </li>
            <li {% ifequal area "people" %}class="current"{% endifequal %} >
              <span><a href="{{request.user.url}}/contacts">Bạn bè</a></span>
            </li>
            <li {% ifequal area "channel" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/channel">Nhóm</a></span>
            </li>
            <li {% ifequal area "explore"%}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/explore">Khám phá</a></span>
            </li>
          {% else %}
            <li {% ifequal area "frontpage" %}class="current"{% endifequal %} >
              
            </li>
            <li {% ifequal area "tour" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/tour">Giới thiệu</a></span>
            </li>
            <li {% ifequal area "channel" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/channel">Nhóm</a></span>
            </li>
            <li {% ifequal area "explore" %}class="current"{% endifequal %} >
              <span><a href="http://{{DOMAIN}}/explore">Khám phá</a></span>
            </li>
          {% endif %}
        </ul>
        {% endblock %}
    </div>
  </div>

  <div id="container" {% block containertag %}{% if style %} class="{{style}}"{% endif %}{% endblock %}>
    {% block flash %}
      {% include 'common/templates/flash.html' %}  
    {% endblock %}
    
    {% block above_container %}
    {% endblock %}
      
    {% block container %}
    {% endblock %}
  </div>
  {% if not request.mobile %}
    <script src="/js/avim.js" type="text/javascript"></script>
    {% if not LOCAL_MODE %}
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js"></script>
    {% else %}
      <script type="text/javascript" src="/js/jquery.min.js"></script>
    {% endif %}
    
    <script type="text/javascript" src="/js/core.js"></script>
  
    {% block bottomscripts %}
    {% endblock %}
  {% endif %}
{% endblock %}
