{% load format %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% if not LOCAL_MODE %}
      <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>
      {{SITE_NAME}} {{DEBUG|yesno:"DEBUG ,"}}| {% block title %} {% endblock %}
    </title>
    <meta name="description" content="The easiest way to share, discuss and learn." />
    <!-- Add Google meta tag -->
    <meta name="google-site-verification" content="zPyWrOQwgg4cW0kBR6IkPMnERXD4skq5eE4zneb3VUA" />
    {{component.best.analytics.header|safe}}
  
    {% if view.extra.homepage %}
    <link rel="me" type="text/html" href="{{view.extra.homepage}}"/>
    {% endif %}
  
    <link rel="icon" href="/themes/{{DEFAULT_THEME|urlencode}}/favicon.ico" type="image/x-icon" />
  
    {# base stylesheet #}
    {% if not request.mobile %}
      <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/css/core.css?17" media="screen,projection" />
      <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/css/prototip.css" />
      <!--[if lte IE 6]>
        <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/css/ie.css?13"/>
      <![endif]-->
    {% else %}
      <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/css/mobile.css?17" media="screen,projection" />
      {# iphone viewport definition #}
      <meta name="viewport" content="maximum-scale=2.0, width=device-width,initial-scale=1.0" />
    {% endif %}
  
    {# per-user theme override, usually set by a site admin #}
    {% if view.extra.theme %}
      {% if not request.mobile %}
        <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/themes/{{view.extra.theme|urlencode}}/screen.css" media="screen,projection" />
        <!--[if lte IE 6]>
          <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/themes/{{view.extra.theme|urlencode}}/screen-ie.css"/>
        <![endif]-->
      {% else %}
        <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/themes/{{view.extra.theme|urlencode}}/mobile.css" media="screen,projection" />
      {% endif %}
    {% else %}
      {% if not request.mobile %}
        <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/themes/{{DEFAULT_THEME|urlencode}}/screen.css" media="screen,projection" />
        <!--[if lte IE 6]>
          <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/themes/{{DEFAULT_THEME|urlencode}}/screen-ie.css"/>
        <![endif]-->
      {% else %}
        <link rel="stylesheet" type="text/css" href="http://{{DOMAIN}}/themes/{{DEFAULT_THEME|urlencode}}/mobile.css" media="screen,projection" />
      {% endif %}
    {% endif %}
  
    {# per-user custom background #}
    {% if not request.mobile %}
      <style type="text/css">
        body {
          {% if view.extra.bg_image %}
            background-image: url("http://{{DOMAIN}}/image/{{view.extra.bg_image|urlencode}}.jpg");
            background-attachment: fixed;
            background-position: center;
          {% endif %}
          
          {% if view.extra.bg_color %}
            background-color: {{view.extra.bg_color}};
          {% endif %}
          
          {% if view.extra.bg_position %}
            background-repeat: {{view.bg_position}};
          {% endif %}
          
          {% if view.extra.bg_repeat %}
            background-repeat: repeat;
          {% endif %}
        }
      {% block style %}
      {% endblock %}
      </style>
    {% endif %}
  
    {% for feed in feeds %}
      <link rel="alternate" type="application/{{feed.type}}+xml" title="{{feed.title}} ({{feed.type}})" href="{{feed.url}}" />
    {% endfor %}
  
    {% block head %}
    {% endblock %}
    
    {% if not LOCAL_MODE %}
      <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/prototype/1.6.1/prototype.js'></script>
    {% else %}
      <script type='text/javascript' src='/js/prototype.js'></script>
    {% endif %}
    <script type='text/javascript' src='/js/prototip/prototip.js'></script>
    
    {% if not DEBUG %}
      <!-- Google Analytics -->
      <script type="text/javascript">
      
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10855304-2']);
        _gaq.push(['_setDomainName', '.inforlearn.com']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      
      </script>
    {% endif %}
  </head>
  <body {% ifequal area 'home'%}{% if request.user %}onload="document.message_form.message.focus();" {% endif %}{% endifequal %}
        style="display: none; {% if not view.extra.bg_image %} background: url(/images/backgrounds/{{ bg_image|auto_background }}); background-attachment: fixed; background-position: center; {% endif %}" {% block bodytag %}{% if area %} id="{{area}}"{% endif %}{% if not request.user %}class="global"{% endif %}{% endblock %}>
      
    {% block body %}
    {% endblock %}
  
    {% if DEBUG and 0 %}
      <div id="debug" class="clear">
        <a href="#dbg" onclick="$('div#dbg').toggle();">Toggle debug</a>
        <div id="dbg" style="display: none; text-align: left;">
          <pre><![CDATA[
          {% debug %}
          ]]></pre>
        </div>
      </div>
    {% endif %}
      <div class="hidden">
        <script type="text/javascript">
          var images = new Array()
          function preload() {
              for (i = 0; i < preload.arguments.length; i++) {
                  images[i] = new Image()
                  images[i].src = preload.arguments[i]
              }
          }
          preload("http://{{DOMAIN}}/themes/default/unchecked.png",
                  "http://{{DOMAIN}}/images/prototip/styles/default/close_hover.png");
        </script>
      </div>
    {{component.best.analytics.footer|safe}}
  </body>
</html>
