{% load nonce %}
<h2>Tìm một vài người bạn</h2>

<div id="find-friends">
  <form id="form-find-friends" action="" method="post">
    <div class="box">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;
      {{SITE_NAME}} có thể duyệt qua danh sách Google Contacts của bạn và kiểm tra
      xem ai đã có tài khoản ở đây. 
      Bạn sẽ được chuyển hướng sang một địa chỉ khác, và bạn cần xác nhận để cho 
      phép {{SITE_NAME}} truy cập vào danh sách liên hệ của bạn bằng cách nhấn vào
      nút "Grant access".
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;
      Chúng tôi không lưu trữ lại bất kỳ thông tin nào trong quá trình này.
      </p>
    </div>
    <div class="buttons">
      {{request.user|noncefield:"lookup_remote_contacts"}}
      <input type="hidden" name="lookup_remote_contacts" />
      <input type="hidden" name="nick" value="{{view.nick}}" />
      {% block buttons %}
        <input type="submit" value="Thực hiện" />
      {% endblock %}
    </div>
  </form>
</div>
