{# the comments section for actor and channel item pages #}
{% load nonce avatar format entry %}

<div id="comments">
  {% if comments|length %}
    <h2>Có {{comments|length}} ý kiến</h2>
    <ul>
      {% for comment in comments %}
        {% if not comment.actor_ref.spam %}
          <li id="c-{{comment.uuid}}">
            <div class="top">
              <div class="bottom">
                {% linked_avatar comment.actor_ref "u" request %}
                <p>
                  {% if request %}
                    {{comment|format_comment:request}}
                  {% else %}
                    {{comment|format_comment}}
                  {% endif %}
                </p>
                <p class="meta">
                  Gửi {{comment.created_at|je_timesince}} trước bởi {% actor_link comment.actor_ref request %}
            
                  {% entry_remove_comment request.user comment %}
                  {% entry_mark_as_spam request.user comment %}
                </p>
              </div>
            </div>
          </li>
        {% else %}
          <li class="spam">
            <p>Ý kiến này trông giống như spam nên đã được ẩn đi</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <br/>
    <h3>Hãy là người đầu tiên gửi bình luận cho chủ đề này ^^</h3>
  {% endif %}
</div>

{% if request.user %}
  {% if not request.user.spam %}
    <div id="leave-comment">
      <h2>Gửi bình luận</h2>
      {% include 'form_error.html' %}
      
      <form id="comment-form" name="comment_form" action="?entry_add_comment" method="get">
      <div>
        <label for="comment">Ý kiến của bạn
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Gõ tiếng Việt (Ctrl+Space):
          
          <script src="{{request.user.url}}/../../js/shortcut.js" type="text/javascript"></script>
          
          <script type="text/javascript">
            shortcut.add("Ctrl+Space",function() {
              ob  = $j(".image_language");
                if(defaultLang == "vn"){
                    defaultLang = "en";
                    ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/unchecked.png");
                    AVIMObj.setMethod(-1);
                }
                else{
                    defaultLang = "vn";
                    ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/checked.png");
                    AVIMObj.setMethod(0);
                }
            });
          </script>
          
          <script type="text/javascript">
            shortcut.add("Ctrl+Enter",function() {
              document.comment_form.submit();
            });
          </script>
          
          <script type="text/javascript">
            var defaultLang = "vn";
            function toggle_lang(){
              ob = $j(".image_language");
              if(defaultLang == "vn"){
                defaultLang = "en";
                ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/unchecked.png");
                AVIMObj.setMethod(-1);
              }
              else{
                defaultLang = "vn";
                ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/checked.png");
                AVIMObj.setMethod(0);
              }
            }
          </script>
          
          <img class="image_language" 
               src="/themes/{{DEFAULT_THEME|urlencode}}/checked.png" 
               style="vertical-align:middle; 
                      display: inline; 
                      height: 16px; 
                      width: 16px;
                      margin-left: 1px;
                      margin-bottom: 7px;" 
               onclick="toggle_lang()">
        </label>
        <textarea cols="25" 
                  id="comment" 
                  name="content" 
                  onkeyup="if (this.scrollHeight &gt; 
                              this.clientHeight &amp;&amp; !window.opera)
                              this.style.height = (this.scrollHeight + 20) + 'px';" 
                  rows="4"></textarea>
  
        {% if COMMENT_QUICKLINKS_ENABLED and participants %}
          <p id="participant-nicks">
          Gửi tin đến {% if COMMENT_QUICKLINKS_ACCESSKEYS_ENABLED %} (hoặc sử dụng các phím số từ 1–9){% endif %}:
          {% for lowernick, actor_ref in participants.items|dictsort:"0"|slice:":9" %}
            {{actor_ref|avatar:"u"}}<a href="#"{% if COMMENT_QUICKLINKS_ACCESSKEYS_ENABLED %} accesskey="{{forloop.counter}}"{% endif %}>{{actor_ref.display_nick}}</a>{% if COMMENT_QUICKLINKS_ACCESSKEYS_ENABLED %}<span>/{{forloop.counter}}</span>{% endif %}
          {% endfor %}
          
          {% for lowernick, actor_ref in participants.items|dictsort:"0"|slice:"10:25" %}
            {{actor_ref|avatar:"u"}}<a href="#">{{actor_ref.display_nick}}</a>
          {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="buttons">
        {{request.user|noncefield:"entry_add_comment"}}
        <input type="hidden" name="stream" value="{{entry_ref.stream}}" />
        <input type="hidden" name="entry" value="{{entry_ref.keyname}}" />
        <input type="hidden" name="nick" value="{{request.user.nick}}" />
        <input type="hidden" name="entry_add_comment" value="" />
        <input type="submit" class="button" value="Gửi lên" tabindex="2"/>  (Ctrl+Enter)
        {% if MARKDOWN_ENABLED %}
          <p class="help">
            Bạn có thể sử dụng một số cú pháp quy định hiển thị như: <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            *<em>chữ nghiêng</em>*, **<strong>chữ đậm</strong>**, [Inforlearn](http://www.inforlearn.com/)
          </p>
          <p>Các ô nhập liệu trong Inforlearn hỗ trợ chuẩn <a href="http://xbeta.org/wiki/show/Markdown">Markdown</a> và <a href="http://vn.messenger.yahoo.com/features/emoticons/">Yahoo Emoticons</a></p>
        {% endif %}
      </div>
    </form>
    </div>
  {% else %}{# user is spam #}
    <div class="notice">
      <h3>Thao tác gửi bị đình chỉ</h3>
      <p>
      Bạn không có quyền gửi bình luận bởi vì hệ thống phát hiện những hoạt động 
      của bạn giống như đang spam. Nếu bạn nghĩ đây là một lỗi, vui lòng gửi mô tả 
      chi tiết vào nhóm #Bugs để chúng tôi xem xét và thực hiện điều chỉnh.
      </p>
    </div>
  {% endif %}
{% else %}
  <p class="centered">
    <big>
      <a href="/login?redirect_to=http://{{request.META.HTTP_HOST|urlencode}}{{request.META.PATH_INFO|urlencode}}">Đăng nhập để gửi một bình luận</a>
    </big>
  </p>
{% endif %}


