{% load avatar nonce %}

{% if not request.user.spam %}
  <div id="form-message" class="main">
    {% include 'form_error.html' %}
    {% block message_title %}
    {% endblock %}
    <form name="message_form" action="" method="GET">  
      {% if not request.mobile %}
        <a href="{{request.user.url}}/settings/photo">
          {{ request.user|avatar:"f" }}
        </a>
      {% endif %}
      <p id="message-container">
        <label for="message" id="message-label">
          Gõ tin nhắn bạn muốn chia sẻ với mọi người vào đây
        </label>
        <textarea id="message" name="message" rows="4" cols="25">{% if message %}{{ message|escape }}{% else %}{% if not request.mobile %}&nbsp;{% endif %}{% endif %}</textarea>
      </p>
      <p class="buttons">
        <input type="hidden" id="location" name="location" value="{{ request.user.extra.location }}"/>
          <div id="send-button">
            <br/>
            <a class="send-message-disable" onclick="">Gửi</a> 
            &nbsp;(Ctrl+Enter)
          </div>
        <input type="hidden" name="nick" value="{{request.user.nick}}" />
        {% ifequal view.type 'user' %}
          {{request.user|noncefield:"post"}}
          <input type="hidden" name="post" value="" />
        {% else %}
          {{request.user|noncefield:"channel_post"}}
          <input type="hidden" name="channel_post" value="" />
          <input type="hidden" name="channel" value="{{view.nick}}" />
        {% endifequal %}
      
        {% if not request.mobile %}
          <p id="counter">256 ký tự</p>
          <p id="icons">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <script src="/js/shortcut.js" type="text/javascript"></script>
            <script type="text/javascript">
              shortcut.add("Ctrl+Space",function() {
	              ob  = $j(".image_language");
	                if(defaultLang == "vn"){
                    defaultLang = "en";
                    ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/unchecked.png");
                    AVIMObj.setMethod(-1);
	                }
	                else{
                    defaultLang = "vn";
                    ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/checked.png");
                    AVIMObj.setMethod(0);
	                }
              });
            </script>
            
            <script type="text/javascript">
	            shortcut.add("Ctrl+Enter",function() {
	              document.message_form.submit();
	            });
            </script>
            
            <script type="text/javascript">
	            var defaultLang = "vn";
	            function toggle_lang(){
	        
                ob  = $j(".image_language");
                if(defaultLang == "vn"){
                    defaultLang = "en";
                    ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/unchecked.png");
                    AVIMObj.setMethod(-1);
                }
                else{
                    defaultLang = "vn";
                    ob.attr("src", "/themes/{{DEFAULT_THEME|urlencode}}/checked.png");
                    AVIMObj.setMethod(0);
                }
	            }
            </script>
            
            Gõ tiếng Việt (Ctrl+Space):
            <img class="image_language" 
                 title="Bật/Tắt bộ gõ tiếng Việt"
                 src="/themes/{{DEFAULT_THEME|urlencode}}/checked.png" 
                 style="vertical-align:middle; 
                        display: inline; 
                        height: 16px; 
                        width: 16px;
                        margin-left: 1px;
                        margin-bottom: 7px;" 
                        onclick="toggle_lang()">
        </p> 
      {% endif %}
    </form>
  </div>
{% else %}
  <div class="main">
    <h3>Yêu cầu gửi bị từ chối</h3>
    <p>
      Ban không được phép gửi tin bởi các hoạt động của bạn bị hệ thống lọc spam nghi
      ngờ. Nếu bạn nghĩ đây là một lỗi, vui lòng gửi mô tả chi tiết vào nhóm #Bugs 
      để chúng tôi xem xét và sửa lại.
    </p>
  </div>
{% endif %}
