<!--<div id="search">-->
<!--  <h2>Find people and channels</h2>-->
<!--  <form action="/explore/find" method="get">-->
<!--    <p>-->
<!--      <input type="text" name="query" value="" />-->
<!--    </p>-->
<!--    <p class="buttons">-->
<!--      <input type="submit" value="Search" />-->
<!--    </p>-->
<!--  </form>-->
<!--</div-->
<!--<h2>Tìm kiếm</h2>-->
<!---->
<!--<div id="cse" style="width: 100%;">Loading</div>-->
<!--<script src="http://www.google.com/jsapi" type="text/javascript"></script>-->
<!--<script type="text/javascript">-->
<!--  google.load('search', '1', {language : 'vi'});-->
<!--  google.setOnLoadCallback(function() {-->
<!--    var customSearchControl = new google.search.CustomSearchControl('000702631864577536490:tqdo1d_j0g8');-->
<!--    customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);-->
<!--    var options = new google.search.DrawOptions();-->
<!--    options.setAutoComplete(true);-->
<!--    customSearchControl.draw('cse', options);-->
<!--  }, true);-->
<!--</script>-->
<!---->
<!---->
<!--<style>-->
<!--	.cse input.gsc-input, input.gsc-input {-->
<!--	  background-image:none !important;-->
<!--	  width: 180px; -->
<!--	  }-->
<!--	 .cse input.gsc-search-button,-->
<!--	input.gsc-search-button {-->
<!--	  visibility: hidden;-->
<!--	  color:transparent;-->
<!--	  width: 1px;-->
<!--	  margin-left: -22px;-->
<!--	  }-->
<!--	 td.gsc-clear-button {-->
<!--	 width: 300px;-->
<!--	 }-->
<!--</style>-->
<!---->
<!--<link rel="stylesheet" type="text/css" href="/css/google_custom_search.css" />-->