{% load nonce %}
{% load presence %}

{% if is_owner or presence %}
  <div class='location'>
    <h2>Đang ở...</h2>
    {% if presence and presence.extra.location %}
      <p>
        <span id='current-location'>{{presence.extra.location|location}}</span>
        {% if is_owner %}
          &nbsp;|&nbsp; 
          <a href='#form-location' id='set-location'>Thay đổi</a>
        {% endif %}
      </p>
    {% else %}
      {% if is_owner %}
        <p>
          <a href='#form-location' id='set-location'>Bạn đang ở đâu?</a>
        </p>
      {% endif %}
    {% endif %}
      <form action='' id='form-location' method='get'>
        <div>
          <input type='text' name='location' id='loc' 
                 value='{{presence.extra.location|location}}'/>
        </div>
        <div class='buttons'>
          {{request.user|noncefield:"presence_set"}}
          <input type='hidden' name='presence_set' />
          <input type='hidden' name='nick' value='{{request.user.nick}}' />
          <input type='submit' name='submit-location' class="button" value='Cập nhật'/>
        </div>
      </form>
  </div>
{% endif %}
