<h2>Mẹo</h2>
<p>
  Gửi tin lên từ Google Talk, JiveTalk, Pidgin, iChat <br />
  <a href="http://www.inforlearn.com/help/im">Xem chi tiết</a>
</p>
<p> 
  Kéo
  <a href='javascript:location.href="http://www.inforlearn.com/post?message=" + encodeURIComponent(document.title + "  \n" + location.href)' target="_new">link này</a>
  lên thanh bookmark và nhấn vào nó khi muốn gửi tin nhanh.
</p>
<p> 
  Google Chrome Extension <br>
  <a href='https://chrome.google.com/extensions/detail/agabkjhplkecnhigbghfkappnhpeficg' target="_new">Inforlearn Post This</a>
</p>