{% load avatar format entry presence %}
{% if not hide_avatar %}
{% linked_avatar entry.actor_ref "u" request %}
{% endif %}
{{entry|entry_icon}}
<p class="comment">
  {% if request %}
    {{entry|linked_entry_title:request}}
  {% else %}
    {{entry|linked_entry_title}}
  {% endif %}
</p>
<p class="meta">
  {% actor_link entry.actor_ref request %}
  {% ifnotequal entry.actor entry.owner %}
  viết trong nhóm {% actor_link entry.owner_ref request %}
  {% endifnotequal %}
  {% if not hide_timesince %}
    {{entry.created_at|je_timesince}} trước
  {% endif %}
  {% if entry.extra.location %}
    tại {{ entry.extra.location|location }}
  {% endif %}
  {% if not hide_links %}
  {% if not entry.extra.comment_count %}
    &nbsp;&nbsp;&nbsp;<a href="{% url_for entry request %}#comments" class="add-comment">Gửi bình luận</a>&nbsp;&nbsp;&nbsp;
  {% else %}
    &nbsp;&nbsp;&nbsp;<a href="{% url_for entry request %}#comments" class="comments">{{entry.extra.comment_count}} ý kiến</a>&nbsp;&nbsp;&nbsp;
  {% endif %}
  {% entry_remove request.user entry user_is_admin %}
  {% endif %}
</p>
