{% extends 'actor/templates/settings_base.html' %}
{% load nonce %}
{% block settings %}

<h2>Nhận và gửi tin từ chương trình IM yêu thích của bạn</h2>

{% if im_address %} {# already active #}
  <p>
  Tài khoản IM của bạn đã được kích hoạt. Chế độ nhận thông báo qua IM hiện đang 
    {{im_notify|yesno:"bật,tắt"}}
    <a href="{{view.url}}/settings/notifications">
      (Thay đổi)
    </a>
  </p>
  <div class="box">
    <p>
    Địa chỉ IM của bạn là:
    </p>
    <p class="centered">
    <big><b>{{im_address.base}}</b></big>
    </p>
    <p class="centered">
    Để xóa, gửi lệnh <b>SIGN OUT</b> tới <b>{{IM_BOT}}</b>
    </p>
  </div>
{% else %}
  <div class="box">
    <h3>Để kích hoạt, hãy làm theo 2 bước sau:</h3>
    <ol>
      <li>Thêm <b>{{IM_BOT}}</b> vào danh sách liên hệ</li>
      <li>Sau đó gõ: <br><b>SIGN IN &lt;tên đăng nhập&gt; &lt;mật khẩu của bạn&gt;</b> <br>gửi tới <b>{{IM_BOT}}</b> <br>và refresh lại trang này ^^.</li>
      <br>
      <h4>Ví dụ:</h4>
    <p>
      Mở cửa sổ chat với inforlearn@appspot.com, gõ:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>SIGN IN demo secret</b> &nbsp;&nbsp;&nbsp;&nbsp;(với <b>demo</b> là tên đăng nhập và <b>secret</b> là mật khẩu)<br> 
        và nhấn Enter, tài khoản IM của demo sẽ được kích hoạt.
    </p>
    </ol>

  </div>
{% endif %}


<ul>
  <li><a href="http://{{DOMAIN}}/help/im_clients">Danh sách các trình IM hỗ trợ</a>
  <li><a href="http://{{DOMAIN}}/help/im">Trợ giúp</a></li>
  <li><a href="http://{{DOMAIN}}/settings/notifications">Thay đổi các tùy chọn thông báo</a></li>
  <li><a href="http://{{DOMAIN}}/help/commands">Danh sách cấu trúc lệnh có thể sử dụng</a></li>
</ul>

{% endblock %}
