{% extends 'actor/templates/settings_base.html' %}
{% load nonce %}
{% block settings %}

<h2>Nhận và gửi tin từ chương trình IM yêu thích của bạn</h2>

{% if im_address %} {# already active #}
  <p>
  Tài khoản IM của bạn đã được kích hoạt. Chế độ nhận thông báo qua IM hiện đang 
    {{im_notify|yesno:"bật,tắt"}}
    <a href="{{view.url}}/settings/notifications">
      (Thay đổi)
    </a>
  </p>
  <div class="box">
    <p>
    Địa chỉ IM của bạn là:
    </p>
    <p class="centered">
    <big><strong>{{im_address.base}}</strong></big>
    </p>
    <p class="centered">
    Để xóa, gửi lệnh <strong>SIGN OUT</strong> tới <strong>{{IM_BOT}}</strong>
    </p>
  </div>
{% else %}
  <div class="box">
    <h3>Để kích hoạt, hãy làm theo 2 bước sau:</h3>
    <ol>
      <li>Thêm <strong>{{IM_BOT}}</strong> vào danh sách liên hệ</li>
      <li>Sau đó gõ: <strong>SIGN IN &lt;tên đăng nhập&gt; &lt;mật khẩu của bạn&gt;</strong> gửi tới <strong>{{IM_BOT}}</strong> <br>và refresh lại trang này ^^.</li>
      <br>
      <h4>Ví dụ:</h4>
    <p>
      Mở cửa sổ chat với inforlearn@appspot.com, gõ:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>SIGN IN demo secret</strong> &nbsp;&nbsp;&nbsp;&nbsp;(với <strong>demo</strong> là tên đăng nhập và <strong>secret</strong> là mật khẩu)<br> 
        và nhấn Enter, tài khoản IM của demo sẽ được kích hoạt.
    </p>
    </ol>

  </div>
{% endif %}


<ul>
  <li><a href="http://{{DOMAIN}}/help/im_clients">Danh sách các trình IM hỗ trợ</a>
  <li><a href="http://{{DOMAIN}}/help/im">Trợ giúp</a></li>
  <li><a href="http://{{DOMAIN}}/settings/notifications">Thay đổi các tùy chọn thông báo</a></li>
  <li><a href="http://{{DOMAIN}}/help/commands">Danh sách cấu trúc lệnh có thể sử dụng</a></li>
</ul>

{% endblock %}
