{% extends 'common/templates/base_wide.html' %}
{% load nonce avatar vcard %}
{% block title %}Nhóm{% endblock %}

{% block content %}

<div class="path">
  <h1>{{SITE_NAME}} - Nhóm</h1>
</div>

{% if not request.mobile %}
  <div id="sidebar">
    <div class="tip">
      <p>
        <strong>Gửi tin vào một nhóm?</strong><br/>
        Ví dụ: <br/><strong>#Bugs Không gõ được tiếng Việt</strong>
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;Tin nhắn <b>Không gõ được tiếng Việt</b> sẽ được gửi vào nhóm <b>#Bugs</b>
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;Tương tự như vậy, ở bất cứ ô gửi tin nào, bạn chỉ cần thêm <b>#GroupID</b> trước nội dung muốn đưa lên.
      </p>
      {% if component.loaded.sms_service %}
      <p>
        This is available via the SMS on<br />
        <strong>30300</strong><br />
      </p>
      {% endif %}
    </div>
    {% include 'channel/templates/sidebar_ourpicks.html' %}
    {% include 'common/templates/sidebar_search.html' %}
</div>
{% else %}
  {% include 'channel/templates/sidebar_ourpicks.html' %}
{% endif %}

<div class="body">
  {% block channel_body %}{% endblock %}
</div>

{% endblock %}
