{% extends 'common/templates/base_wide.html' %}
{% load nonce avatar actor vcard format %}

{% block title %}
  Thành viên của {{whose}}
{% endblock %}

{% block content %}  
  <div class="body">
    {% include 'form_error.html' %}
    
    <h2>Thành viên của <a href="{% url_for view request %}">{{whose}}</a></h2>
    
    <div id="followers" class='contacts'>
      {% if actor_tiles_count %}
        {% if actor_tiles_count %}
          <ul class="float">
            {% for actor in actor_tiles %}
              <li id="tooltip_{{actor.nick}}" class="vcard{{actor.my_follower|yesno:" follower,"}}{{actor.my_contact|yesno:" contact,"}}{% cycle ' clear' '' ''%}">
                {% linked_avatar actor "u" request %}
                <h3>
                  <a class="url" href="{% url_for actor request %}" rel="{{actor.rel}}">
                    {{actor.display_nick}}
                  </a>
                </h3>
                <p class="foot">
                  {% actor_remove_contact request.user view actor %}
                </p>
              </li>
              <script type='text/javascript'>
              new Tip("tooltip_{{actor.nick}}", "Tên đầy đủ: {{actor.extra.full_name}}<br>" +
                                                "Trang cá nhân: <a href='{{actor.extra.homepage}}' target='_new'>{{actor.extra.homepage}}</a><br>", {
                title: "{{ actor.display_nick }}",
                stem: 'bottomRight',
                hideOn: false,
                hideAfter: 0.25,
                delay: 0.5,
                closeButton: true,
                hook: {target: 'topLeft', tip: 'bottomRight'},
                offset: { x: 60, y: 0 }
              });
            </script>
            {% endfor %}
          </ul>
          {% if actor_tiles_more %}
            <div class="paging">
              <a href="?offset={{actor_tiles_more|escape}}">Xem thêm</a>
            </div>
          {% endif %}
        {% else %}
          <p>Không có ai.</p>
        {% endif %}

      {% else %}
        <p>No members yet, but maybe soon :)</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
