{% extends 'channel/templates/channel_base.html' %}
{% block title %}Giới thiệu{% endblock %}
{% block content %}

<h1>Giới thiệu</h1>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;{{SITE_NAME}} thành công ở việc mang kiến thức/kinh nghiệm đã được tổng hợp, 
đúc kết và chắt lọc của một người đến cho những người quan tâm một cách nhanh 
nhóng và dễ dàng nhất.<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Thông qua đây, bạn có thể thu nhận những kiến thức/kinh
nghiệm quý báu một cách nhanh chóng nhất, đồng thời có thể hình dung được một
hệ thống tất cả các kinh nghiệm/kiến thức mình đã thu nhận được theo thời gian.
</p>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Dự án {{SITE_NAME}} được phát triển và mở rộng từ JaikuEngine, một dự án mã nguồn mở của Google Inc,.  
</p>

{% endblock %}
