{% extends 'flat/templates/help_base.html' %}

{% block help %}
<h3>1. Đăng ký một tài khoản</h3>
<h3>2. Xác thực địa chỉ email và đăng ký nhận thông báo qua email</h3>
<h3>3. Nhận và gửi tin từ Windows/Linux/MacOS Desktop hoặc di động</h3>
<h3>4. Khám phá các nhóm mới</h3>
<h3>5. Mời bạn bè tham gia</h3>
<h3>6. Chia sẻ một điều gì đó mà bạn nghĩ rằng nó cần thiết cho một ai đó </h3>
<h3>7. Nhận tin cập nhật từ các nhóm đang tham gia/người bạn quan tâm </h3>
<h3>8. Gửi bình luận và cập nhật các ý kiến mới</h3>
<h3>9. Tìm những người giống bạn</h3>
<h3>10. Đặt một câu hỏi và nhận về các lời giải đáp</h3>
{% endblock %}
