{% extends 'channel/templates/channel_base.html' %}
{% block title %}Roadmap{% endblock %}
{% block content %}
<h1>Roadmap</h1>

<p>Current version: 0.9 (beta)</p>

<p>version 1.0</p>
<li>Chọn icon cho loại đối tượng (câu hỏi, sáng kiến, kinh nghiệm, ghi chú, thảo luận...)</li>

<p>version 1.5</p>
<li>Hỗ trợ xuống dòng và hiển thị (+xem trước) theo reStructureText trong tin nhắn và bình luận</li>
<li>Nâng cấp công cụ tìm kiếm (Tên người dùng/bài post)</li>
<li>Thêm tính năng Favourite cho tin gửi và vote up/down cho bình luận</li>
<li>Nhiều admin quản lý một nhóm</li>


<p>version 2.0</p>
<li>Tính năng gợi ý nhóm phù hợp cho người sử dụng</li>
<li>Phiên bản di động cho các dòng điện thoại</li>
<li>Giao diện mới</li>
{% endblock %}
