{% extends 'common/templates/base_wide.html' %}
{% block title %}Inforlearn | Roadmap{% endblock %}

{% block content %}
  <div class="path">
    <h1>Roadmap</h1>
  </div>
  
  <div class="body">
   
    <h3>Các tính năng sẽ phát triển:</h3>
    <ul style="margin-bottom: 10px; margin-top: -10px;">
      <li>Triển khai Browser Push (Comet) để cập nhật tin nhắn theo thời gian thực</li>
      <li>Tìm kiếm/mời bạn bè ở Facebook, Twitter, Yahoo tham gia</li>
      <li>Sử dụng SSL cho trang đăng nhập</li>
      <li>Giao diện mobile</li>
      <li>Firefox Addon</li>
    </ul>
    
    <h3>Các tính năng đã triển khai:</h3>
    <ul style="margin-bottom: 10px; margin-top: -10px;">
      <li>Gợi ý nhóm nên tham gia</li>
      <li>Gợi ý người nên kết bạn</li>
      <li>Danh sách "Nhóm tương tự"</li>
      <li>Hỗ trợ cú pháp Markdown trong tin và bình luận gửi lên</li> 
      <li>Gửi và nhận thông báo qua IM hỗ trợ XMPP</li>
      <li>Bookmarklet và Chrome Extension</li>
    </ul>
  </div>
{% endblock %}
