{% extends 'channel/templates/channel_base.html' %}
{% block content %}

<h1>Dự án Inforlearn</h1>
	&nbsp;&nbsp;&nbsp;&nbsp;Inforlearn được xây dựng với Python (Django) và 
	GoogleAppEngine, dựa trên JaikuEngine, một dự án mã nguồn mở của Google.
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;Mã nguồn được cung cấp dưới giấy phép Apache 2.0
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;Bạn có thể tìm thấy mã nguồn đang phát triển của
	Inforlearn tại địa chỉ: 
	<a href="http://github.com/AloneRoad/Inforlearn">
	http://github.com/AloneRoad/Inforlearn</a>
	<br/>
  <br/>
  <br/>

{% endblock %}
