{% extends 'flat/templates/tour_base.html' %}

{% block tour %}
<ul style="padding-left: 30px;font-size: 13px;">
  <h3>1. Microlearning là gì?</h3>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Microlearning hiện thời vẫn thiếu một định nghĩa nhất quán. Tuy nhiên, có thể 
hiểu microlearning là cách thức cung cấp các nội dung học tập ở dạng ngắn và phân 
chia thành các đơn vị nhỏ (chứa trong 256 ký tự).</p>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;Sự khác biệt của Microlearning so với cách thức học 
  thông thường và với E-Learning:</p>
		<li>Không theo cấu trúc giảng dạy chính thống</li>
		<li>Không phụ thuộc vào thời gian và địa điểm</li>
		<li>Không có điểm/đánh giá/chứng chỉ</li>
		<li>Dựa trên tương tác ngang hàng giữa tất cả mọi người</li>
		<li>Dựa trên sự tương tác với các nội dung trên internet</li>
		<li>Không lưu trữ ở một nơi</li>
		<li>Không có sự tổ chức và quản lý</li>
  <br/>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Microlearning như là một thuật ngữ phản ánh thực tế sự phân tán ngày càng tăng 
của nguồn thông tin và đơn vị thông tin sử dụng cho quá trình học, đặc biệt là 
trong các lĩnh vực có sự phát triển nhanh và liên tục thay đổi.</p>
  <br/>

  <h3>2. Tại sao lại là 256 ký tự mà không phải là 140?</h3>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Vì trong tiếng Việt, nhìn chung, thường gồm các từ ghép, mà phổ biến là từ gồm
2 tiếng. Một từ tiếng Anh thường tương đương với 2 từ tiếng Việt, vì vậy, tính một
cách tương  đối ta có 140 * 2 cho tiếng Việt. Với một chút sai số, kết hợp 
với một chút IT ta có: 2 ^ 8 = 256.</p>
  <br/>

  <h3>3. Sử dụng Microlearning như thế nào?</h3>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Bạn có thể chia sẻ bất cứ điều gì trên Microlearning</p>
<li>Một đoạn mô tả/đánh giá ngắn kèm với link đến bài viết/video gốc</li>
<li>Gửi lên các kinh nghiệm bạn học được từ cuộc sống, bạn bè hoặc qua quá trình
làm việc</li>
<li>Những điểm chính rút ra được sau khi đọc một quyển sách, xem một bài báo</li>
<li>Bài học rút ra sau khi thực hiện xong một dự án</li>
<li>Đặt một câu hỏi</li>
<li>Đặt ra một vấn đề cần thảo luận</li>
  <br/>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Hãy cố gắng làm rõ ràng các suy nghĩ của bạn, trình bày lại chúng, ngắn gọn, 
súc tích, dễ hiểu và chia sẻ chúng với mọi người.</p>
  <br/>

  <h3>4. Vì sao tôi nên sử dụng Microlearning</h3>
<li>Sự đơn giản, ngắn gọn, tổng hợp, khái quát cao</li>
<li>Dễ tiếp thu, dễ dàng nhận biết các vấn đề quan tâm và bỏ qua các vấn đề không
quan tâm </li>
<li>Nhanh, dễ sử dụng, tốn ít thời gian</li>
<li>Xây dựng hoàn toàn cho môi trường Việt Nam</li>







  </ul>
  <ul id="more">
  <li id="learn-more">
  <a href="/">› Quay lại trang chủ</a>
  </li>
</ul>
{% endblock %}