{% extends 'common/templates/base_sidebar.html' %}

{% block bodytag %}{{block.super}} {% endblock %}

{% block title %}Giới thiệu{% endblock %}

{% block logo %}
<a href="/" id="logo">
  <img src="/themes/{{DEFAULT_THEME|urlencode}}/logo.png" width="89" height="73" alt="{{SITE_NAME}}" />
</a>
{% endblock %}

{% block content %}
    <div class="main" style="padding: 7px 15px 1px;">
      <h1 style="font: normal normal normal 250%/100% 'Droid Sans';color: #FEFEFE; width:400px;display: inline;">&#187; Inforlearn</h1>
      <h3 style="font: normal normal normal 130%/100% 'Droid Sans';color: #F3F3F3; width:400px;display: inline;">   ∼ The easiest way to share and discuss.</h3>
      <p></p>
    </div>
    <div id="intro">
      <h3 style="width: 80px; float: right; margin-top: 0px;"><a href="/tour">&#8250; Giới thiệu</a></h3>
      <ul>
          <h3 style="font: normal normal normal 130%/100% 'Droid Sans';color: #a1a1a1; width:400px;">Your Personal Learning Network</h3>
          <li id="more">
            <h3 ><a href="/join">&#8250; Tạo tài khoản mới</a></h3>
            
          </li>
      </ul>
    </div>
    <div class="front-groups">
    {% with channels as channel_tiles %}
      {% include 'channel/templates/channel_tiles.html' %}
    {% endwith %}
    </div>
<ul>
{% for entry in recent_entries %}
  <li><a href="{{ entry.url }}">{{ entry.url }}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block sidebar %}
  {% include 'common/templates/sidebar_login.html' %}
{% endblock %}
